html body {
    background-color: rgb(24, 24, 31);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper {
    font-weight: 500;
    color: white;
    border: 1px solid white;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 46) ;
}

.img-wrap {
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(24, 24, 31);
}

.star {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text {
    color: rgb(180, 175, 175);
}

.rate-wrap {    
    display: flex;
    justify-content: space-between;
} 

.rates {
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(24, 24, 31);
    color: rgb(180, 175, 175);
    font-weight: 400;
}

.rates:hover {
    background-color: grey;
}

.rates:focus {
    background-color: #ffa800;
    color: rgb(24, 24, 31);
}

.sub {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #ffa800;
    border: 1px solid transparent;
    border-radius: 50px;
}

.sub:hover {
    background-color: white;
    color: #ffa800;
}

.wrapper-2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 46) ;
    border: 1px solid white;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.iw-2 {
    text-align: center;
}

.out {
    border: 1px solid white;
    border-radius: 40px;
    height: 25px;
    width: 210px;
    margin: 0 auto;
    padding: 15px 5px 5px 5px;
    color: #ffa800;
    background-color: rgb(24, 24, 31);
}

.info {
    color: white;
    font-weight: 500;
}

